{% extends 'templates/app.twig' %}
{% block  content %}

<div class="row" >

	{% for file in files %}
 
    <div class="col-md-5 col-md-offset-3" >
  		<div class="panel panel-default">
  			<div class="panel-heading"  style="background-color:#222; color:grey;">

				{{file.name|length > 35 ? file.name|slice(0, 35) ~ '...' : file.name}}

			</div>

			<div class="panel-body" >
				{{file.size}}
			<div>
				Загружено {{file.created_at}}
			</div>

			<div style="padding-top:10px">

				{% if 'image' in file.type %}
				
					<img src="{{file.url}}" width="250px">

				{% endif %}


				{% if 'pdf' in file.type %}
				
					<iframe src="{{file.url}}" width="250px" height="350px"> </iframe>

				{% endif %}

			</div>
			<div style="padding-top:10px">
				{{file.description}}
			</div>

			<div style="padding-top:10px">
				<a class="btn btn-primary btn-block" href="{{base_url()}}/files/{{file.hash}}" 
		   		role="button">{{file.name|length > 35 ? file.name|slice(0, 35) ~ '...' : file.name}}
					</a>
			</div>

		    </div>
	    </div>
	</div>

	{% endfor %}

</div>

<style type="text/css">
	body {
	padding-top:80px;
	padding-bottom: 40px;


}

.dtr {
	color:#888; 
	background-color:rgb(35,35,35);
	border-color:rgb(35,35,35);
	

	
} 

</style>

{% endblock %}