<nav class="navbar navbar-inverse  navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{path_for('home')}}">uppu</a>
        </div>

        <div id="navbar" class="collapse navbar-collapse">

            <ul class="nav navbar-nav">
                <li><a href="{{path_for('home')}}">Home</a></li>
                <li><a href="{{path_for('upload')}}">Upload File</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                
            {% if auth.check %}
                <li><a>Ow hi, {{auth.user.name}}</a></li>
                <li><a  href="{{path_for('password.change')}}">Change Password</a></li>
                <li><a  href="{{path_for('auth.signout')}}">Sign Out</a></li>
           

            {% else %}

                <li><a href="{{path_for('auth.signup')}}">Sign up</a></li>
                <li><a href="{{path_for('auth.signin')}}">Sign in</a></li>

            {% endif %}
        
            </ul>
        </div>
    </div>
</nav>﻿ 