{% extends 'templates/app.twig' %}
{% block  content %}

<div class="row" >
	<div class="col-md-5 col-md-offset-3" >
		<div class="panel panel-default">
			<div class="panel-heading" style="background-color:#222; color:grey;">
				Password Change
			</div>
			<div class="panel-body" >
				<form action="{{path_for('password.change')}}" method='post' autocomplete="off">
					
					<div class="form-group{{errors.password_old ? ' has-error':''}}">
						<label for="password_old">Current Password</label>
						<input type="password" name="password_old" id="password_old"  class="form-control">

							{% if errors.password_old %}
							<span class="help-block"> {{ errors.password_old | first }}</span>
							{% endif %}

					</div>
					
					<div class="form-group{{errors.password ? ' has-error':''}}">
						<label for="password">Password</label>
						<input type="password" name="password" id="password"  class="form-control">

							{% if errors.password %}
							<span class="help-block"> {{ errors.password | first }}</span>
							{% endif %}

					</div>
					<button type="submit" class="btn btn-outline-dark" data-toggle="button" aria-pressed="false" autocomplete="off">Change Password</button>

					{{ csrf.field|raw }}  

				</form>
			</div>			
		</div>
	</div>
</div>



{% endblock %}