{% extends 'templates/app.twig' %}
{% block  content %}

<div class="row" >
	<div class="col-md-5 col-md-offset-3" >
		<div class="panel panel-default">
			<div class="panel-heading" style="background-color:#222; color:grey;">
				Sign In
			</div>
			<div class="panel-body" >
				<form action="{{path_for('auth.signin')}}" method='post' autocomplete="off">
					
					<div class="form-group{{errors.email ? ' has-error':''}}">            <!Валидация. Тернарный оператор>
						<label for="email">Email</label>
						<input type="email" name="email" id="email" class="form-control" value="{{ old.email }}">

							{% if errors.email %}                                         <!Валидация. if>
							<span class="help-block"> {{ errors.email | first }}</span>   <!Валидация>
							{% endif %}                                                   <!Валидация>

					</div>
					
					<div class="form-group{{errors.password ? ' has-error':''}}">
						<label for="password">Password</label>
						<input type="password" name="password" id="password"  class="form-control">

							{% if errors.password %}
							<span class="help-block"> {{ errors.password | first }}</span>
							{% endif %}

					</div>
					<button type="submit" class="btn btn-outline-dark" data-toggle="button" aria-pressed="false" autocomplete="off">Sign In</button>

					{{ csrf.field|raw }}  

				</form>
			</div>			
		</div>
	</div>
</div>



{% endblock %}