{% extends 'templates/app.twig' %}
{% block  content %}

<div class="row" >
  <div class="col-md-8 col-md-offset-2" >
	
  	<img src="{{url}}">
    
</div>
</div>



<style type="text/css">
	body {
	padding-top:80px;
	padding-bottom: 40px;
}
</style>

{% endblock %}

