{% extends 'templates/app.twig' %}
{% block  content %}

<div class="row" >
	<div class="col-md-4 col-md-offset-4" >
		<div class="panel panel-default">
			<div class="panel-heading" style="background-color:#222; color:grey;">
				File UpLoad
			</div>
			<div class="panel-body" >
				
				<form action="{{path_for('upload')}}" method="post" enctype="multipart/form-data">
					
					<input type="file" name="file" class="form-control">

					
						<label for="description">Description</label>
						<textarea name="description" id="description" 
						rows="3" cols="30" class="form-control"
						maxlength="200" wrap="hard"></textarea>
					

					<button style="margin-top:10px" type="submit" class="btn btn-outline-dark" data-toggle="button" aria-pressed="false" autocomplete="off"> 
					Upload
					</button>

				{{ csrf.field|raw }}  
				</form>

			</div>			
		</div>
	</div>
</div>



{% endblock %}