body {
	font-family: 'Raleway', sans-serif;
	background-color: #e3e4e8;

}



.selectOnly {	display:none;
				margin:38px 0px;
	min-height: 136px;

}

.test-creation-div {
	margin-bottom: 40px;
}


.a1 {margin-top:27px;}

.multi1 {
	margin:38px 0px;
}

#controlButtons {margin:8px 0px;}

.btn2 { 
	border: 1px solid #308fe0;
	border-radius: 9px;
	background-color: #308fe0;

}

#homeCreate {
	margin-right: 10px;
}

.container {
	margin-top:120px;
}


#testHeader {
	margin-bottom:40px;
	overflow-x:hidden;
}

.form-control,
.answer,
.test-process-question-container {
	border: 1px solid #e3e4e8;
	box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
	border-radius: 4px;
}


.navbar {
	padding-bottom: 10px;
	padding-top: 10px;
	box-shadow: 2px 2px 2px #308fe0;
	border-radius: 4px;
  }

#navS {
	height: 30px;
}

#switchers {
	margin-top:20px;
}


#forward {
	float:right;
}

#testSub {
	margin: 0 auto;
}

fieldset.test-creation-toggle {
	width: 65%;
	margin-bottom: 10px;
}

/*---------------------------------------------home page -------------------*/

.test-creation-menu {
	text-align: center;
	margin-top: 110px;
}

.home-main-buttons-container {
	width: 540px;
	height: 44px;
}


nav.custom-navbar {
	background-image: linear-gradient(to top left, #efefef 0%, #2078e0 100%);
}

#video-bg {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow:hidden;
}

#video-bg > video {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.9;
	
}

h2.main-header {
	text-transform: uppercase;
	letter-spacing: 2px;
	opacity: 0.9;
	margin-bottom: 10px;
}

a.dropdown-toggle {
	color: white;
}

.home-main-btn {
	border: 2px solid rgba(0, 0, 0, .8);
	border-left: none;
	display: inline-block;
	margin-right: -5px;
	overflow: hidden;
}

.home-main-btn:first-of-type {
	border-left: 2px solid rgba(0, 0, 0, .8);
}

.home-main-btn a {
	display:inline-block;
	padding: 8px 35px;
	text-decoration: none;
	color: rgba(0, 0, 0, .8);
	background-color: rgba(32, 120, 224, 0.4);
	font-weight: 500;
}

.home-main-btn a:hover {
	background-color: rgba(32, 120, 224, 1);
}

.recent-tests-table-container {
	text-align: center;
	margin-top: 500px;
	display: none;
}


::-webkit-scrollbar,
.back-home-main-buttons-container {
 display: none;
}

div.home-main-search,
div.home-main-search form  {
	width:202px;
	height: 44px;
	background-color: white;
	border-left: 0.5px solid rgba(0, 0, 0, .8);
}

.home-main-search-input {
	width:202px;
	height: 44px;
	padding: 0 10px;
	border: none;
}
.home-main-search-input:focus {
 outline:none;
}

/*---------------------------------------------recent test table-------------------*/


.recent-tests-table {
	background-color: rgba(96, 96, 98, 0.55);
	width: 100%;
	border: 1px black solid;
	margin-bottom: 50px;
}

.recent-tests-table-title {
	padding-bottom: 11px;
	letter-spacing: 1.5px;
}

.recent-tests-table-name a {
	color: #55e824;
	font-weight: bold;
	text-decoration: none;
}

.recent-tests-table th, .recent-tests-table td {
	border-bottom: 1px black solid;
	padding: 6px 0;
}




/*-----------------------------Test Process----------------------------*/

.test-process-question-container {
	background-color: #fff;
	padding: 20px;
}

.test-process-question-number {
	margin-bottom: 15px;
	padding-bottom: 5px;
	border-bottom: 1px dotted rgba(32, 120, 224, .5);
}

input.test-process-radio[type="radio"]{
	 visibility:hidden;
 }

.chosen-answer {
	background-color: rgba(32, 120, 224, .2);
	border-radius: 5px;
}

p.test-process-answer {
	word-wrap: break-word;
}

p.test-process-answer:hover:not(.chosen-answer) {
	background-color: rgba(32, 120, 224, .1);
	border-radius: 5px;
}

.test-process-control-buttons-container {
	margin: 15px 5px;
	padding-top: 8px;
	border-top: 1px dotted rgba(32, 120, 224, .5);;
}

.control-arrow {
	font-size: 28px;
}

.control-arrow:hover {
	color: rgba(32, 120, 224, 1);
}

.back-arrow {
	float:left;
}

.forward-arrow {
	float:right;
}

